.navbar{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    margin: 0;
    padding: 1.5rem 2rem;
}

.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.navbar a{
    color: #ffffff;
    text-decoration: none;
    font-size: large;
    font-weight: 600;
}

.navbar li{
    list-style-type: none;
}

.navbar button{
    /* --primary-color: #1b67ae; */
    --secondary-color: #fff;
    /* --hover-color: #2a82cd; */
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    border: 0;
    border-radius: 20px;
    font-size: large;
    color: var(--secondary-color);
    padding: 0;
    background: var(--primary-color);
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: 500;
    display: inline-flex;
    cursor: pointer;
}

.navbar button .arrowWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.navbar button .arrow{
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
}

.navbar button .arrow::before{
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
}

.navbar button:hover{
    background-color: var(--hover-color);
}

.navbar button:hover .arrow{
    background: var(--secondary-color);
}

.navbar button:hover .arrow:before{
    right: 0;
}

@media screen and (min-width: 1024px){
    .navbar{
        
    }
}

@media screen and (max-width: 768px){
    .navbar{
        padding: 1.25rem 1.25rem;
    }    
}